@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<br />

<h4>C2BRegisterUrl: @ViewData["Message0"]</h4>
<br />

<h4>C2B: @ViewData["Message1"]</h4>
<br />

<h4>LNMO: @ViewData["Message2"]</h4>
<br />

<h4>B2C: @ViewData["Message3"]</h4>

<p>Use this area to provide additional information.</p>
